@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans> {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}
/* share style */

.display-flex{
display: flex;
}
.text-gray{
    color:#424242;
}
.text-gray-light{
    color: #727272;;
}
.bg-light{
    background-color: rgba(255,144,14,0.1);
}
.praimary-bnt{
    background-color: rgb(225, 110, 28);
    padding: 20px 25px;
    font-weight: 600;
    color: lch(97.18% 4.48 252.55);
    font-size: 1.25rem;
    border-radius:8px ;
    border: none;

}
main{
    /* max-width:1440px ;
    margin: 0 auto; */

}
main > section{
    margin-top: 130px;
}

/* header style */


/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-link{

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav{
    text-decoration: none;
    font-weight: 500px;
}
.navbar,.banner{
    max-width: 1400px;
    margin: 0 auto;}
/* banner releted style  */
.banner-content{
    max-width:850px ;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size:4rem;}

    .banner-img{
        width: 100%;

    }

  /* team features styles */
.team{

}
.team-tag-conteners{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-top: 70px;
    text-align: center;
max-width: 543px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quik-list{
    font-weight: 500;
}


    /* resposive media qureary */
@media screen and ( max-width: 576px){
    .navbar,.nav-link, .teams{
        flex-direction:column ;
    }
    .team-tag-conteners{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
}
/* medium device jonno responsive */
    @media screen and (min-width:576px) and (max-width:992) {
        .team{ flex-direction: column;

        }
        .our-features{
            margin: 50px auto;
        }
    
}